src/Unidad_04_DTD_XSD/XSD/xml-xsd-09-sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="superheroe" type="caracSuperheroe"/>
  
  <xs:complexType name="caracSuperheroe">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string" />
      <xs:element name="edad" type="xs:string" />
      <xs:element name="bando" type="xs:string" />
    </xs:sequence>  
  </xs:complexType>

</xs:schema>
