src/Unidad_04_DTD_XSD/XSD/xml-xsd-03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="superheroe">
    <xs:complexType>
      <xs:attribute name="nombre" type="xs:string" use="required"/>
      <xs:attribute name="edad" type="xs:integer" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
