src/Unidad_04_DTD_XSD/XSD/ejercicios/Ej001-XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="marvel" type="tipoMarvel"/>

  <xs:complexType name="tipoMarvel">
    <xs:sequence>
      <xs:element name="superheroe" type="longitudMinimaUnCaracter" maxOccurs="unbounded"/>
      <xs:element name="supervillano" type="longitudMinimaUnCaracter" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="creador" type="longitudMinimaUnCaracter"/>
  </xs:complexType>

  <xs:simpleType name="longitudMinimaUnCaracter">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
