src/Unidad_04_DTD_XSD/XSD/ejercicios/xml-xsd-ejercicio6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="usuario">
        <xs:complexType>
            <xs:all>
                <xs:element name="ultimasSesiones"/>
                <xs:element name="marcadores"/>
                <xs:element name="mensajes"/>
            </xs:all> <!-- Rafa -->
            <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>