LMSGI/src/Unidad_04_DTD_XSD/XSD/examen2017/LosSimpsons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="simpsons" type="tipoSimpsons"/>
	
	
	<xs:complexType name="tipoSimpsons">
		<xs:sequence>
			<xs:element name="localidad" type="tipoLocalidad"/>
			<xs:element name="pelicula" type="tipoPelicula"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- 
	 -->
	<xs:complexType name="tipoLocalidad">
		<xs:attribute name="valor" type="xs:string"/>
	</xs:complexType>
	
	
	<!-- 
	-->
	<xs:complexType mixed="true" name="tipoPelicula">
		<xs:sequence>
			<xs:element name="titulo" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>